<body>
  <form class="form" [formGroup]="citaForm" (ngSubmit)="onSubmit(citaForm)" id="formCita">
   <h2 class="form__title">Consultar Citas</h2>
   <p class="form__paragraph">Seleccione la fecha a consultar</p>
   <div class="form__container">
    <div class="form__group">
      <input  type="date" id="fecha" name="fecha" placeholder="Fecha cita"
      value="18/05/2022"
      min="01/01/0500" max="31/12/3000" class="form-control" formControlName="fecha">
      <label class="form__label">Fecha:</label>
      <span class="form__line"></span>
    </div>
     <button class="button" id="button" (click)="onSubmit(citaForm)" [disabled]="!citaForm.valid">Consultar</button>
   </div>
   <div *ngIf="show; then content else other_content" class="alert alert-danger animated fadeIn"></div>
    <ng-template #content>
      <div>
        <br>
        <table class="tabla">
          <caption><strong>Citas agendadas!</strong></caption>
          <thead>
            <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaCitas | async" class="items" id="items">
                <td> {{item.id }}</td>
                <td> {{item.placa}} </td>
                <td> {{item.fecha}} </td>
                <td> {{item.hora}}</td>
                <td> ${{item.valor}} </td>
            </tr>
          </tbody>
        </table>
     </div>
    </ng-template>
    <ng-template #other_content>
      <h1>{{mensaje}}</h1>
    </ng-template>
   
 </form>
</body>

